{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static "index/css/signup.css" %}">
</head>
<body>

                <a href="{% url "index" %}" class="logo">
                    <img src="{% static "index/img/svg/en-logo.svg" %}" alt="Описание изображения">
                </a>
 <div class="container">
 <form method="POST" novalidate>
        {% csrf_token %}
        <div>
        {% for field in user_form %}
        <div class="form-group">
            {{field.label_tag}}
            <div>{{field}}</div>
            {% if field.errors%}
            {% for error in field.errors %}
            <div class="alert alert-danger">
                {{error}}
            </div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        </div>
        <input type="submit" value="Register" class="registerbtn">
    </form>
 <div class="container signin">
    <p>Already have an account? <a href="{% url 'login' %}">Sign in</a>.</p>
  </div>
 <div>
</body>
</html>