.block-list{
    padding: 0px;
    padding-left: 200px;
    padding-top: 10px;
    width: calc(100vw - 200px);
    background-color: #efefef;
    height: calc(80vh - 10px);
    border-radius: 50px 50px 0px 0px;
}

.block-settings{
    border-radius: 20px;
    background-color: #ffffff;
    width: calc(100% - 230px);
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
}

.block-settings input{
    border: 2px solid #AFAFAF;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.block-token{
    border-radius: 20px;
    background-color: #ffffff;
    width: calc(100% - 200px);
    margin-bottom: 20px;
    display: block;
    align-items: start;
    height: 95px;
}

.block-token div{
    padding: 5px 30px;
    padding-right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0px;
    width: calc(100% - 50px);
}

.block-token input{
    border: 2px solid #AFAFAF;
    border-radius: 5px;
    width: 400px;
    height: 30px;
}

.block-token button{
    padding: 10px 15px;
    width: 200px;
    border-radius: 15px;
    border: none;
    background-color: #FF941A;
    margin: 0px;
    color: white;
}

.block-settings p{
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
}

.block-token p{
    padding: 15px 30px;
    padding-bottom: 5px;
    margin: 0px;
}

.block-settings button{
    padding: 15px 30px;
    width: 250px;
    border-radius: 15px;
    border: none;
    background-color: #efefef;
    margin: 20px;
}